html {
  font-size: 16px !important;
  scrollbar-gutter: stable;
}

#r-builder-app h3 {
  margin: 0;
  line-height: normal;
}

body[data-radix-scroll-lock] {
  overflow: auto !important;
  padding-right: 0 !important;
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  --color-bg: #ffffff;
  --color-text: #111827;

  color: var(--color-text);
  background-color: var(--color-bg);

  /* font-family: var(--font-sans);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  /* overflow-x: hidden; */
}

/* To override the shopify css of input, select & textarea */
#r-builder-app input,
#r-builder-app select,
#r-builder-app textarea {
  /* all: unset; */
  box-sizing: border-box;
}

#r-builder-app-choose-setting input,
#r-builder-app-choose-setting select {
  height: 50px !important;
  border: 1px solid #ebebeb !important;
}

#r-builder-app-choose-setting button {
  height: 50px !important;
  border: 1px solid #ebebeb !important;
  background-color: var(--shopify-theme-primary-bg) !important;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}
